package login

import (
	"fmt"
	"os"

	"github.com/spf13/cobra"

	"{{.Module}}/pkg/config"
)

var args struct {
	url      string
	token    string
	insecure bool
}

var Cmd = &cobra.Command{
	Use:   "login",
	Short: "Log in to the API server",
	Long: "Log in, saving the credentials to the configuration file.\n\n" +
		"Examples:\n" +
		"  {{.Binary}} login --token <jwt> --url http://localhost:8000\n" +
		"  {{.Binary}} login --token $(oc whoami -t) --url local",
	Args: cobra.NoArgs,
	RunE: run,
}

func init() {
	flags := Cmd.Flags()
	flags.StringVar(&args.url, "url", "http://localhost:8000", "URL of the API server.")
	flags.StringVar(&args.token, "token", "", "Bearer access token (JWT).")
	flags.BoolVar(&args.insecure, "insecure", false, "Enables insecure communication with the server.")
}

func run(cmd *cobra.Command, argv []string) error {
	if args.token == "" {
		fmt.Fprintf(os.Stderr, "A token is required. Use '--token <jwt>' to provide one.\n")
		os.Exit(1)
	}

	cfg, err := config.Load()
	if err != nil {
		return fmt.Errorf("can't load config file: %v", err)
	}
	if cfg == nil {
		cfg = new(config.Config)
	}

	cfg.AccessToken = args.token
	cfg.URL = args.url
	cfg.Insecure = args.insecure

	err = config.Save(cfg)
	if err != nil {
		return fmt.Errorf("can't save config file: %v", err)
	}

	fmt.Fprintf(os.Stderr, "Login successful. Configuration saved.\n")
	return nil
}
